<h1>Demande de Devis</h1>
<p>Nom : {{devis.nom}}</p>
<p>e-mail : {{devis.email}}</p>
<p>Nombre de Personne : {{devis.nombrePersonne}}</p>
<p>Date : {{devis.date|date("d/m/Y")}}</p>
<p>Type évenement : {{devis.typeEvenement.type}}</p>
<p>Message : {{devis.message|raw}}</p>